@{
    Layout = "~/Views/Shared/_Admin_Template.cshtml";
    ViewBag.Title = "Home";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.IconPage = "fa fa-home";
    
}

<h1 class="text-center">@ViewBag.PageTitle</h1>
<br />


