@model Projeto_Academico.Models.ViewModels.CadastroInicialViewModel

@{
    Layout = "~/Views/Shared/Inicio_Master.cshtml";
    ViewBag.Title = "Validação de E-mail";
}


<div class="container auth">
    <div id="big-form" class="well auth-box">
        <h1 class="text-center">
            Muito bem, agora falta pouco!
        </h1>
        <h3 class="text-center">
            Enviamos um e-mail para confirmação do seu cadastro!
        </h3>
    </div>
</div>